In [4]:
import air_pollution_check

air_pollution_check.transfer_df(10,10)

,co,no,no2,o3,so2,pm2_5,pm10,nh3,lat,lon,no2_level,pm10_level,o3_level,pm2.5_level,total_level,avg_level
0,370.5,0,2.7,37.55,0.95,59.8,153.11,3.29,10,10,5,2,5,2,14,fair